:root {
  --radius: 50px;
  --sans: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu,
    cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root[color-mode="light"] {
  --surface1: #e6e6e6;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --element1: #111111;
  --element2: #222222;
  --element3: #333333;
  --elementInverse: #eee;
  --primary: #01408e;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
  --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  --orange: orange;
  --fa-icon: #4580ff;
  --fa-icon-hover: #111;
  --image-bg: rgba(238, 235, 235, 0.9);
  --h3-sm-heading: #e6e6e6;
  --name: #4580ff;
  --alt: #4580ff;
  --menu-btn: #4580ff;
  --menu-nav: #01408e;
  --menu-branding: #c8d9ff;
  --text-secondary: #01408e;
  --footer: #01408e;
  --about-info-job: #dadde2;
  --about-info-border: #01408e;
}

:root[color-mode="dark"] {
  --surface1: #444444;
  --surface2: #333333;
  --surface3: #404040;
  --element1: #eeeeee;
  --element2: #dddddd;
  --element3: #cccccc;
  --elementInverse: #111;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
  --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
  --orange: orange;
  --fa-icon: #ffffff;
  --fa-icon-hover: orange;
  --image-bg: rgba(68, 68, 68, 0.9);
  --h3-sm-heading: rgba(73, 73, 73, 0.5);
  --name: orange;
  --alt: #fff;
  --menu-btn: #fff;
  --menu-nav: #373737;
  --menu-branding: #444;
  --text-secondary: orange;
  --footer: #2b2b2b;
  --about-info-job: #515151;
  --about-info-border: orange;
}

:root[color-mode="light"] .color-mode .light--hidden {
  display: none;
}

:root[color-mode="dark"] .color-mode .dark--hidden {
  display: none;
}

body {
  background-color: #e6e6e6;
  background-color: var(--surface1, #e6e6e6);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.bg-img {
  background: url(../images/bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--image-bg);
}

/* darkmode */

.color-mode__btn {
  position: fixed;
  top: 80px;
  right: 0px;
  padding: 1rem;
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #111111;
  color: var(--element1, #111111);
  cursor: pointer;
  background: none;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.color-mode__btn svg {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  fill: none;
  stroke: #222222;
  stroke: var(--element2, #222222);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.color-mode__btn:hover svg,
.color-mode__btn:focus svg,
.color-mode__btn:focus {
  outline: none;
  fill: #fff7d6;
  fill: var(--tertiary, #fff7d6);
}

.color-mode__section {
  color: var(--element1, #111111);
  background-color: #e6e6e6;
  background-color: var(--surface1, #e6e6e6);
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease-in;
}

/* darkmode end */

/* main nav */
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: var(--menu-btn);
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: var(--menu-nav);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: var(--menu-branding);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../images/jackieriel_small.png");
  border-radius: 50%;
  border: solid 3px orange;
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: orange;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: wheat;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../images/jackieriel_small2.png");
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
}
